/* Help CSS - 2012-01-23 */
pre, tt, code {
  background-color: #eee;
}

pre, code {
  padding: 0.5em;
  overflow-x: auto;
  width: auto;
  white-space: pre-line;
}
code {
  padding: 2px;
}

aside {
  float: right;
  width: 340px;
}
.aside-box ul, .aside-box li {
  list-style: none outside;
  padding: 0;
}

.aside-box {
  background-color: inherit;
  margin-bottom: 1em;
  border: 3px solid #eee;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;

}

.aside-box ul,
.aside-box > p {
  border: 1px solid #ccc;
  margin: 0;
}
.aside-box  li a,
.aside-box > p {
  padding: 0.5em 1em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.aside-box  li a {
  margin-top: 2px;
}
.aside-box  li a:hover, .aside-box  li a:focus {
  text-decoration: none;
}
.aside-box  li:first-child a {
  border-top: 0;
  margin-top: 0;
}
.aside-box  li:last-child a {
  border-bottom: none;
}
.aside-box  li a {
  display: block;
  background: #eee;
}
.content {
  width: 600px;
}
  /* Text Styles for Help-Text */
  .content h1, .content h2, .content h3, .content h4 {
    font-size: 170%;
    margin-top: 0em;
    line-height: 1.4em;
  }
  .content h1:first-child {
    margin-top: 0;
  }
  .content h1 + h2 {
    margin-top: 1em;
    padding-top: 0;
  }
  .content h2 {
    font-size: 160%;
    margin-bottom: 0.5em;
    padding-bottom: 0;
  }

  .content h3,
  .content h4 {
    font-size: 150%;
  }

  .content,
  .content p {
    font-size: 1.05em;
    line-height: 1.7em;
  }

  .content img {
    box-shadow: 0 0px 5px #999;
    -moz-box-shadow: 0 0px 5px #999;
    -webkit-box-shadow: 0 0px 5px #999;
  }

  .content img + em,
  .content table + p em {
    font-size: 0.8em;
    color: #777;
  }
  .content img {
    display: block;
  }

  div.content hr {
    clear: none;
  }

  /* Rudimentary Table Styles */
  .content table {
    width: 100%;
  }
  .content thead {
    border-bottom: 1px solid #999;
  }
  .content tr:nth-child(even) {
    background-color: #eee;
  }

div.navigation {
  display: none;
}

#aside-toc h1 {
  display: none;
}

span.current-page {
  font-weight: bold;
}
