/* Help CSS - 2012-01-23 */

body {
    background: none repeat scroll 0 0 #F4F4F4;
    color: #676767;
    cursor: default;
    font-family: Droid Sans,Albany AMT,lucida grande,tahoma,helvetica,arial,sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-image: url(arrow.png);

}
li a, a:visited, a:active {
    color: #005ED8;
    text-decoration: none;
    -moz-transition-duration: 0.15s;
    -moz-transition-timing-function: ease-out;
}

li a:hover {
    color: #f57900;
    text-decoration: underline;
    -moz-transition-duration: 0.15s;
    -moz-transition-timing-function: ease-out;
}
a, a:visited, a:active{
    color: #005ED8;
    text-decoration: none;
    -moz-transition-duration: 0.15s;
    -moz-transition-timing-function: ease-out;
}

a:hover {
    color: #f57900;
    text-decoration: underline;
    -moz-transition-duration: 0.15s;
    -moz-transition-timing-function: ease-out;
}

/*Header + Top Bar*/

#header {
    background-color: #71AB32;
    background-image: -moz-linear-gradient(center top , #7FBD3A 1px, #C1D99D 2px, #7FBD3A 2px, #649A2A 98%, #546742);
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    height: 42px;
    line-height: 36px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    -webkit-box-shadow: 0 1px 5px -3px #6c6c6c;
    -moz-box-shadow: 0 1px 5px -3px #6c6c6c;
    box-shadow: 0 1px 5px -3px #6c6c6c;

}

#header a {
    color: #E7F7D1;
    padding: 18px 18px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-left: -11px;
    text-indent: -5000px;
    width: 100px;

}

#header a:hover {
    color: #fff;
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.125);
}

#topbar  {
    margin: 0 auto;
    max-width: 970px;
    padding-left: 10px;
}

#logo-header {
    background-image: url(logo-studio.png);
    background-repeat: no-repeat;
    background-position: 10px 4px;
}

#logo-header img {
    visibility: hidden;
    top: 5px;
    -moz-opacity:0;
    opacity: 0;
}

/* Github ribbon */
#fork-me {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 2;  /* header is z-index: 1 */
}

/* Begin Page CSS  */
#page {
    height: auto;
    min-height: 100%;
    position: relative;
    max-width: 996px;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
}
#content {
    margin: 0 auto;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 45px;
    position: relative;
    max-width: 963px;
    padding-left: 10px;
    padding-right: 10px;
}
pre, tt, code {
    background-color: #eee;
}

pre, code {
    padding: 0.5em;
    overflow-x: auto;
    width: auto;
}
code {
    padding: 2px;
    color: #404040;
}

/* End Page */

/* Begin Menu */
aside {
    float: right;
    width: 280px;
    background-color: #f5f5f5;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.aside-box ul, .aside-box li {
    list-style: none outside;
    padding: 0;
}
.aside-box {
    background-color: inherit;
    margin-bottom: 1em;
    border: 3px solid #eee;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;

}
.aside-box ul,
.aside-box > p {
    border: 1px solid #ccc;
    margin: 0;
}
.aside-box  li a,
.aside-box > p {
    padding: 0.5em 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.aside-box  li a {
    margin-top: 2px;
}
.aside-box  li a:hover, .aside-box  li a:focus {
    text-decoration: none;
}
.aside-box  li:first-child a {
    border-top: 0;
    margin-top: 0;
}
.aside-box  li:last-child a {
    border-bottom: none;
}
.aside-box  li a {
    display: block;
    background: #eee;
}
#aside-toc h1 {
    display: none;
}
#aside-toc ul {
    list-style-image: url(arrow.png);
    color: #2e3436;
    /*margin-left: -12px;*/
    line-height: 25px;
}

#aside-toc li a, a:visited {
    color: #2e3436;
    text-decoration: none;
    -moz-transition-duration: 0.15s;
    -moz-transition-timing-function: ease-out;
}

#aside-toc li a:hover {
    color: #f57900;
    text-decoration: underline;
    -moz-transition-duration: 0.15s;
    -moz-transition-timing-function: ease-out;
}

span.current-page {
    font-weight: bold;
    /*color: #f57900;*/
}

.sub-item {
    margin-left: -25px;
    line-height: 20px;
}

.expanded{
    list-style-image: url(arrow_down.png);
}


/* End Menu */



/* Begin Notebook Content   */

#wrapper {
    max-width: 970px;
}

#suse_studio_online_help{
    color: #78af42;
    font-size: 37px;
    background-image: url(studio_online_title.png);
    background-repeat: no-repeat;
    width: 434px;
    height: 69px;
    text-indent: -5000px;
    margin-left: -100px;

}

.content .page-overview{
    background-image: url(dister.png);
    background-repeat: no-repeat;
    background-position: left top;
    height: 416px;
    padding-left: 290px;
    margin-left: -10px;
}

.content .page-overview p{
    line-height: 1.3em;
}

.content h1, .content h2, .content h3, .content h4 {
    font-size: 170%;
    margin-top: 0em;
    line-height: 1.4em;
    color: #777777;
}
.content h1:first-child {
    margin-top: 0;
}
.content h1 + h2 {
    margin-top: 1em;
    padding-top: 0;
}
.content h2 {
    font-size: 160%;
    margin-bottom: 0.5em;
    padding-bottom: 0;
    margin-top: 1.5em;
}

.content h3,
.content h4 {
    font-size: 150%;
}

.content,
.content p {
    font-size: 1.05em;
    line-height: 1.7em;
}

.content img {
    box-shadow: 0 0px 5px #999;
    -moz-box-shadow: 0 0px 5px #999;
    -webkit-box-shadow: 0 0px 5px #999;
    margin-top: 10px;
}

.content img + em,
.content table + p em {
    font-size: 0.8em;
    color: #777;
    display: block;
}

div.content hr {
    clear: none;
}

/* Rudimentary Table Styles */
.content table {
    width: 100%;
}
.content thead {
    border-bottom: 1px solid #999;
}
.content tr:nth-child(even) {
    background-color: #eee;
}

div.navigation {
    display: none;
}

/* End Notebook Content   */



/* Footer */

#new_footer {
    background-color: #f3f3f3;
    /*border-top: 1px solid #c7c7c7;*/
    clear: both;
    color: #777777;
    font-size: 12px;
    height: 60px;
    /*margin-top: -61px;*/
    margin: 0 auto;
    bottom: 0;
    position: relative;
    max-width: 996px;
    z-index: 2;
}
#new_footer .links {
    display: block;
    font-size: 1.1em;
    margin: 0;
    padding-top: 12px;
    padding-left: 0px;
}
#new_footer .links li {
    display: inline;
    padding-left: 0;
}
#new_footer .links li.first {
    border: medium none;
    padding-left: 0;
}
#new_footer .links a {
    padding: 0px 0px;
    color: #777777;
}
#new_footer .links a:hover {
    color: #f57900;
}
#new_footer .disk-quota {
    color: #777777;
    font-size: 16px;
    padding-top: 20px;
    float: left;
    text-align: center;
}
#new_footer .disk-quota-bold {
    font-weight: bold;
}
#new_footer .copy {
    width: 200px;
    font-size: 11px;
    margin-top: 7px;
}
#new_footer .copy a {
    margin-left: 6px;
    color: #777777;
}
#new_footer .copy a:hover {
    color: #f57900;
}
#new_footer .social-footer {
    float: right;
    padding-top: 20px;
}
#new_footer .social-footer li {
    border-right: 1px solid #c8c8c8;
    width: 45px;
    height: 21px;
    display: inline;
    list-style: none;
    float: right;
}
#content_footer {
    width: 99%;
    text-align: center;
    margin: 0 auto;
}

#links_footer {
    width: 45%;
    float: left;
    margin: auto;
    text-align: left;
    padding-left: 10px;
}

/* End Footer */

@media screen and (max-width: 1024px) {

    #new_footer .disk-quota {
        font-size: 11px;
    }

    #links_footer {
        font-size: 10px;
        width: 45%;
    }
}

