!!!
%head
  %link{ :rel => "shortcut icon", :href => "/public/favicon.ico", :type => "image/x-icon"}
  %link{ :rel => "icon", :href => "/public/favicon.png", :type => "image/png"}
  = css "helphelp"
  %title #{title}

%body

  #page
    #header
      #topbar
        %a#logo-header{ :href => "/" }
          %img{ :src => "/public/logo-studio-help.png", :alt => "Logo-header" }

    #content
      #aside
        #aside-toc
          =render_toc

      #wrapper.content
        = render_content

  #new_footer
    #content_footer
      #links_footer
        %ul.links
          %li.first
            %a{:href => "/help", :target => "_blank"} Studio
            |
          %li
            %a{:href => "/browse/"} Gallery
            |
          %li
            %a{:href => "/forum", :target => "_blank"} Forum
            |
          %li
            %a{:href => "/artwork/", :target => "_blank"} Logos & badges
            |
          %li
            %a{:href => "/jobs/", :target => "_blank"} Jobs

        .copy
          \&copy; 2012 Novell, Inc.
          %a{:href => "http://novell.com/company/legal/", :target => "_blank"} Legal
          %a{:href => "http://novell.com/company/policies/privacy/", :target => "_blank"} Privacy

      .social-footer
        %li{ :style => "border-right: none; padding-right: 0px;" }
          %a{ :href => "http://facebook.com/susestudio", :target=>"_blank" }
            %img{ :src => "/public/fb_social_footer.png", :alt => "Facebook" }
        %li
          %a{ :href => "http://blog.susestudio.com", :target=>"_blank" }
            %img{ :src => "/public/bl_social_footer.png", :alt => "SUSE Studio Blog" }
        %li
          %a{ :href => "https://plus.google.com/u/0/117588435588580984362/posts", :target=>"_blank" }
            %img{ :src => "/public/gp_social_footer.png", :alt => "Google Plus" }
        %li
          %a{ :href => "http://twitter.com/susestudio/", :target=>"_blank" }
            %img{ :src => "/public/tt_social_footer.png", :alt => "Twitter" }
