!!!
%head
  %link{ :rel => "shortcut icon", :href => "/help/public/favicon.ico", :type => "image/x-icon"}
  %link{ :rel => "icon", :href => "/help/public/favicon.png", :type => "image/png"}
  = css "helphelp"
  %title #{title}

%body

  #page
    #header
      #topbar
        %a#logo-header{ :href => "/help" }
          %img{ :src => "/help/public/logo-studio-help.png", :alt => "Logo-header" }

    #content
      #aside
        #aside-toc
          =render_toc

      #wrapper.content
        ~ render_content

  #new_footer
    #content_footer
      #links_footer
        .copy
          \&copy; 2012 Novell, Inc.
          %a{:href => "/copyright", :target => "_blank"} Copyright notice

